$font-ar: "DINNextLT";
$font-en: "montserrat";

$font-path: "../fonts/";
$img-path: "../images/";

// colors


$p-color: #707070;
$golden-color:#CCA079;
$black-color: #012D29;
$black-color-two:#1D1D1B;
$light-blue-hover:#00FFE8;
$dark-green: #007066;
$light-grey: #9C9C9C;
$headres-bg:#E5ECEC;
$heading-color :#242424;
$colorBBBBBB : #BBBBBB;
/*
font-family: "DINBold";
font-family: "DINLight";
font-family: "DINMedium";
font-family: "DINRegular";

*/

.headTitle35px {
    font-size: 35px;
    // font-family: "DINMedium";
    color: $golden-color;
}
.cardTitle22px {
  font-size: 22px;
  color: $dark-green;
}
.cardLabel18px {
  font-size: 18px;
  color: $black-color;
}
.subHeadTitle24px {
  font-size: 24px;
  color: $heading-color;
  font-family: "DINBold";
}
.paragraph24px {
  font-size: 24px;
  line-height: 1.8;
  color: $p-color;
}
.subParagraph14px {
  font-size: 14px;
  color: $p-color;
  line-height: 1.8;
}
.label {
  color: #BBBBBB;
  font-size: 14px;
  // font-family: "DINMedium";
}
.filepond--root .filepond--credits {
  display: none;
}
.replyBox {
  .replyComent {
    background-color: #CCA079;
    display: inline-block;
    padding: 9px 15px;
    border-radius: 8px;
    span {
      font-size: 16px;
      color: #fff;
      padding-right: 9px;
    }
  }
}
.replyCmRev {
  font-size: 16px;
  color: #CCA079;
  margin-bottom: 16px;
  a {
    &:hover {
      color: #0071E2;
    }
    color: #0071E2;
    font-size: 16px;
  }
}
.mainBtn {
  width: 160px;
  height: 52px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: $golden-color;
  color: #fff;
  font-size: 16px;
  // font-family: "DINMedium";
  border-radius: 50px;
}
.buttonTwo {
  min-width: 113px;
  height: 33px;
  padding: 0 24px;
  border-radius: 8px;
  background: $dark-green;
  color: #fff;
  font-size: 14px;
}
.sendGold {
  background-color: $golden-color;
  height: 47px;
  min-width: 117px;
  border-radius: 8px;
  font-size: 16px;
  color: #fff;
}
.addMissos {
  min-width: 193px;
  background: $dark-green;
  height: 48px;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  border-radius: 8px;
  span {
    font-size: 16px;
    color: #fff;
    // padding-#{$start-direction}: 6px;
  }
}
.cardUl {
  list-style: none;
  padding: 0;
  li {
    display: flex;
    margin-bottom: 20px;
    span , label {
      display: inline-flex;
      min-width: 260px;
      align-items: center;
      font-size: 18px;
      font-weight: 500;
      color: #012D29;
      margin-bottom: 0;
    }
    p {
      margin: 0;
      background-color: #F6F6F6;
      width: 100%;
      font-size: 16px;
      color: #1D1D1B;
      padding: 12px 24px;
      border-radius: 6px;
      box-shadow: 0 0px 5px rgba(0,0,0,.05);
      + {
        .actionCard {
          + {
            p { 
              margin-right: 26px;
            }
          }
        }
      }
    }
  }
}


$theme-colors: (
  // "primary": $primary-color,
  // "warning": $orange-color,
  // "success": $green-color,
  // "gray": $gray-color,
  // "red": $red-color
);

// font weight
$w-thin: 100; // (Hairline)
$w-extra-light: 200; // (Ultra Light)
$w-light: 300;
$w-normal: 400; // (Regular)
$w-medium: 500;
$w-semi-bold: 600; // (Semi Bold)
$w-bold: 700;
$w-extra-bold: 800; // (Ultra Bold)
$w-black: 900; //(Heavy)



//more 

$raduis-normal : 8px;