/*
font-family: "DINBold";
font-family: "DINLight";
font-family: "DINMedium";
font-family: "DINRegular";

*/
.headTitle35px {
  font-size: 35px;
  color: #CCA079;
}

.cardTitle22px {
  font-size: 22px;
  color: #007066;
}

.cardLabel18px, .investigationLayout .cardInputs .boxInputs .label, .filesUpload .hintLast {
  font-size: 18px;
  color: #012D29;
}

.subHeadTitle24px, .modalCustomStyle .modal-dialog .modal-title {
  font-size: 24px;
  color: #242424;
  font-family: "DINBold";
}

.paragraph24px {
  font-size: 24px;
  line-height: 1.8;
  color: #707070;
}

.subParagraph14px, .BGRegistration .leftBG .loginSide .fromClass .forgetPass {
  font-size: 14px;
  color: #707070;
  line-height: 1.8;
}

.label {
  color: #BBBBBB;
  font-size: 14px;
}

.mainBtn {
  width: 160px;
  height: 52px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background-color: #CCA079;
  color: #fff;
  font-size: 16px;
  border-radius: 50px;
}

.cardUl {
  list-style: none;
  padding: 0;
}

.cardUl li {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 20px;
}

.cardUl li span, .cardUl li label {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  min-width: 260px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 18px;
  font-weight: 500;
  color: #012D29;
  margin-bottom: 0;
}

.cardUl li p {
  margin: 0;
  background-color: #F6F6F6;
  width: 100%;
  font-size: 16px;
  color: #1D1D1B;
  padding: 12px 24px;
  border-radius: 6px;
  -webkit-box-shadow: 0 0px 5px rgba(0, 0, 0, 0.05);
          box-shadow: 0 0px 5px rgba(0, 0, 0, 0.05);
}

.cardUl li p + .actionCard + p {
  margin-right: 26px;
}

/*** RTL websites ***/
@font-face {
  font-family: "DINBold";
  src: url("../fonts/DIN-Next-LT-Arabic-Bold.woff") format("woff"), url("../fonts/DIN-Next-LT-Arabic-Bold.ttf");
  font-weight: 400;
}

@font-face {
  font-family: "DINLight";
  src: url("../fonts/DIN-Next-LT-Arabic-Light.woff") format("woff"), url("../fonts/DIN-Next-LT-Arabic-Light.ttf");
  font-weight: 400;
}

@font-face {
  font-family: "DINMedium";
  src: url("../fonts/DIN-Next-LT-Arabic-Medium.woff") format("woff"), url("../fonts/DIN-Next-LT-Arabic-Medium.ttf");
}

@font-face {
  font-family: "DINRegular";
  src: url("../fonts/DIN-Next-LT-Arabic-Regular.woff") format("woff"), url("../fonts/DIN-Next-LT-Arabic-Regular.ttf");
  font-weight: 400;
}

body {
  font-family: "montserrat";
  direction: rtl;
  text-align: right;
}

html[dir="rtl"] body {
  font-family: "DINNextLT";
}

*,
*:focus,
*:active,
button:focus {
  outline: none;
}

a:hover {
  text-decoration: none;
}

h4 {
  font-size: 22px;
  font-weight: bold;
}

ul.blue-dots {
  list-style: none;
  line-height: 32px;
}

ul.blue-dots li::before {
  content: "";
  display: inline-block;
  width: 8px;
  height: 8px;
  border-radius: 50%;
  margin-left: 10px;
}

ol {
  list-style: decimal;
  line-height: 32px;
}

ol li {
  padding-right: 10px;
}

body {
  font-family: "DINRegular";
  background-color: #f1f1f1;
}

.ms-webpart-zone, div.ms-webpart-cell-vertical-inline-table, .ms-webpart-cell-vertical, .ms-webpart-chrome-vertical {
  display: block !important;
}

body, #s4-workspace {
  overflow: visible !important;
}

.ms-webpartzone-cell {
  margin-bottom: 0 !important;
}

.ms-webpart-zone {
  display: block !important;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.filepond--root .filepond--credits[style] {
  display: none;
}

.filepond--root {
  margin-bottom: 0px;
  font-family: "DINRegular";
}

.filepond--root .filepond--drop-label {
  min-height: 45px;
}

.filepond--drop-label.filepond--drop-label label {
  font-size: 16px;
  color: #ddd;
}

.filepond--drop-label.filepond--drop-label label span {
  color: #007066;
  text-decoration: underline;
}

input[type=number] {
  -moz-appearance: textfield;
}

button {
  border: unset;
}

input::-webkit-input-placeholder {
  color: #bbbbbb;
  font-size: 16px;
}

input:-ms-input-placeholder {
  color: #bbbbbb;
  font-size: 16px;
}

input::-ms-input-placeholder {
  color: #bbbbbb;
  font-size: 16px;
}

input::placeholder {
  color: #bbbbbb;
  font-size: 16px;
}

.label {
  color: #012D29;
  font-size: 20px;
  margin-bottom: 12px;
}

.inputStyle {
  background-color: #fff;
  height: 45px;
  border-radius: 8px;
  border: unset;
  width: 100%;
  padding: 12px 24px;
  margin-bottom: 14px;
}

a:hover {
  color: #fff;
}

.customRadio p {
  margin-bottom: 0;
}

[type="radio"]:checked,
[type="radio"]:not(:checked) {
  position: relative;
  top: 0;
  width: 0px;
  height: 0;
}

[type="radio"]:checked + label,
[type="radio"]:not(:checked) + label {
  position: relative;
  padding-right: 28px;
  cursor: pointer;
  line-height: 20px;
  display: inline-block;
  color: #bbbbbb;
  font-size: 14px;
}

[type="radio"]:checked + label:before,
[type="radio"]:not(:checked) + label:before {
  content: "";
  position: absolute;
  right: 0;
  top: 3px;
  width: 18px;
  height: 18px;
  border: 1px solid #707070;
  border-radius: 100%;
  background: transparent;
}

[type="radio"]:checked + label:after,
[type="radio"]:not(:checked) + label:after {
  content: "";
  width: 8px;
  height: 8px;
  background: #CCA079;
  position: absolute;
  top: 8px;
  right: 5px;
  border-radius: 100%;
  -webkit-transition: all 0.2s ease;
  transition: all 0.2s ease;
}

[type="radio"]:checked + label:before {
  border: 1px solid #CCA079;
}

[type="radio"]:checked + label {
  color: #CCA079;
}

[type="radio"]:not(:checked) + label:after {
  opacity: 0;
  -webkit-transform: scale(0);
  transform: scale(0);
}

[type="radio"]:checked + label:after {
  opacity: 1;
  -webkit-transform: scale(1);
  transform: scale(1);
}

select {
  background-color: #f1f0ef;
  height: 45px;
  border-radius: 8px;
  border: unset;
  width: 100%;
  padding: 12px 24px;
  margin-bottom: 14px;
  -moz-appearance: none;
  /* Firefox */
  -webkit-appearance: none;
  /* Safari and Chrome */
  appearance: none;
  font-size: 16px;
  line-height: 1.2;
  color: #bbbbbb;
  position: relative;
  background-image: url(../images/arrow-down.svg);
  background-repeat: no-repeat;
  background-position: 24px 12px;
}

.loader {
  width: 100%;
  height: 100%;
  position: fixed;
  z-index: 1;
  background: rgba(0, 0, 0, 0.4);
  inset: 0;
  overflow: hidden;
}

.loader-inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  height: 100%;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.navbarCustom {
  padding: 0;
  height: 140px;
  background-color: #fff;
  -webkit-box-shadow: 0 0px 10px rgba(0, 0, 0, 0.05);
          box-shadow: 0 0px 10px rgba(0, 0, 0, 0.05);
}

.navbarCustom .navbar-brand img {
  height: 99px;
  width: 366px;
}

.navbarCustom li a {
  padding-right: 16px !important;
  padding-left: 0 !important;
  color: #012D29 !important;
  -webkit-transition: 0.5s;
  transition: 0.5s;
  font-size: 18px;
}

.navbarCustom li a:hover {
  color: #CCA079 !important;
}

.navbarCustom li a.changeLang {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-top: 9px;
}

.navbarCustom li a.changeLang span {
  color: #CCA079 !important;
  font-size: 14px;
  padding-right: 10px;
}

.navbarCustom li.dropdown {
  padding-right: 24px;
}

.navbarCustom li.dropdown a.nav-link {
  background-color: #cca0794a;
  border-radius: 50px;
  color: #CCA079 !important;
  padding: 8px 24px 11px 18px !important;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.navbarCustom li.dropdown a.nav-link i:first-of-type {
  padding-left: 6px;
  font-size: 20px;
  margin-bottom: -8px;
}

.navbarCustom li.dropdown a.nav-link i:last-of-type {
  padding-right: 6px;
  font-size: 15px;
  margin-bottom: -5px;
}

.navbarCustom li.dropdown a.nav-link::after {
  content: unset;
}

.navbarCustom li.dropdown .dropdown-menu .dropdown-item {
  text-align: right;
  font-size: 16px;
}

.navbarCustom li.dropdown .dropdown-menu .dropdown-item:hover {
  background-color: unset;
}

.navbarCustom li.dropdown .dropdown-menu .dropdown-item:active {
  background-color: unset;
}

.navbarCustom li .notificationA button {
  background: unset;
  padding-top: 6px;
  padding-left: 0;
  padding-right: 0;
  margin-right: 7px;
}

.navbarCustom li .notificationA .dropdown-menu {
  width: 261px;
  right: 0;
  top: 51px;
  border-radius: 0px 0px 8px 8px;
  -webkit-box-shadow: 0 0px 10px rgba(0, 0, 0, 0.1);
          box-shadow: 0 0px 10px rgba(0, 0, 0, 0.1);
  border: unset;
  padding: 0;
}

.navbarCustom li .notificationA .dropdown-menu .dropdown-item {
  padding: 7px 12px !important;
  text-align: center;
  border-bottom: 1px solid #f1f1f1;
}

.navbarCustom li .notificationA .dropdown-menu .dropdown-item span {
  color: #007066;
}

.navbarCustom li .notificationA .dropdown-menu .dropdown-item img {
  margin-left: 6px;
}

.navbarCustom li .notificationA .dropdown-menu .dropdown-item:hover {
  color: unset !important;
  background-color: unset !important;
}

.navbarCustom li .notificationA .dropdown-menu .dropdown-item:visited {
  background-color: red;
}

.navbarCustom li .notificationA .dropdown-menu .dropdown-item.visitedLink span {
  color: #BBBBBB;
}

.navbarCustom li .notificationA .dropdown-menu .dropdown-item.visitedLink img {
  -webkit-filter: invert(45%) sepia(10%) saturate(258%) hue-rotate(43deg) brightness(89%) contrast(100%);
          filter: invert(45%) sepia(10%) saturate(258%) hue-rotate(43deg) brightness(89%) contrast(100%);
}

.navbarCustom li .notificationA .dropdown-menu .showAll {
  color: #CCA079 !important;
  font-size: 14px;
  text-align: center;
  display: block;
  padding: 8px 0 12px;
}

.navbarCustom li .notificationA.notificationB button {
  margin-right: 21px;
}

.navbarCustom li .notificationA.notificationB .redNotification {
  background: #00706617;
  width: 34px;
  height: 34px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  border-radius: 50px;
  position: relative;
}

.navbarCustom li .notificationA.activeNotify button img {
  -webkit-filter: invert(35%) sepia(11%) saturate(1524%) hue-rotate(130deg) brightness(101%) contrast(101%);
          filter: invert(35%) sepia(11%) saturate(1524%) hue-rotate(130deg) brightness(101%) contrast(101%);
}

.navbarCustom li .notificationA.activeNotify .redNotification .red {
  position: absolute;
  top: 0;
  right: 0;
  width: 8px;
  height: 8px;
  background: #E41E3F;
  border-radius: 50px;
  border: 2px solid #E5D0D3;
}

.footer {
  background-color: #fff;
  height: 121px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.footer .leftText {
  text-align: left;
}

.footer .leftText a span {
  font-size: 18px;
  color: #1d1d1b;
  font-family: "DINLight";
}

.footer .leftText a:first-of-type {
  margin-left: 20px;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.footer .leftText a .hoverText {
  width: 38px;
  height: 38px;
  background-color: #0070664a;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  border-radius: 50%;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin: 0;
  padding: 0;
  margin-right: 10px;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.footer .leftText a .hoverText i {
  font-size: 21px;
  color: #007066;
}

.footer .leftText a:hover .hoverText {
  -webkit-box-shadow: 0 4px 10px rgba(0, 0, 0, 0.15);
          box-shadow: 0 4px 10px rgba(0, 0, 0, 0.15);
  background-color: #fff;
}

.footer .leftText a:hover .hoverText i {
  color: #CCA079;
}

.footer .rightText {
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.footer .rightText span,
.footer .rightText a {
  font-size: 14px;
  color: #012d29;
}

.footer .rightText span {
  margin-left: 16px;
  border-left: 1px solid #012d29;
  padding-left: 16px;
}

.footer .rightText a:first-of-type {
  margin-left: 25px;
}

.BGRegistration {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background-color: #f8f8f8;
  overflow: hidden;
  position: relative;
}

.BGRegistration::before {
  position: absolute;
  content: "";
  right: 0;
  bottom: 0;
  width: 300px;
  height: 400px;
  background-image: url("../images/bgRighrt.png");
}

.BGRegistration .rightBG,
.BGRegistration .leftBG {
  -webkit-box-flex: 0.5;
      -ms-flex: 0.5;
          flex: 0.5;
  max-width: 840px;
}

.BGRegistration .leftBG {
  padding-top: 132px;
  padding-right: 147px;
}

.BGRegistration .leftBG .loginSide {
  width: 391px;
}

.BGRegistration .leftBG .loginSide .headTitle35px {
  color: #007066;
}

.BGRegistration .leftBG .loginSide .paragraph24px {
  margin-bottom: 56px;
}

.BGRegistration .leftBG .loginSide .fromClass .forgetPass {
  color: #012D29;
}

.BGRegistration .leftBG .loginSide .fromClass .mainBtn {
  background-color: #007066;
  margin-top: 24px;
}

.BGRegistration .leftBG .loginSide .fromClass .InputGroupPass {
  position: relative;
}

.BGRegistration .leftBG .loginSide .fromClass .InputGroupPass img {
  position: absolute;
  left: 24px;
  bottom: 22px;
  cursor: pointer;
}

.BGRegistration .rightBG {
  background-color: #007066;
  background-image: url("../images/bgFrom.svg");
  position: relative;
}

.BGRegistration .rightBG::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  right: 100%;
  background-color: #007066;
  background-image: url("../images/bgFrom.svg");
}

.BGRegistration .rightBG .boxReq {
  width: 665px;
  background: #fff;
  margin: 0 auto;
  padding: 24px;
  margin-top: 110px;
  border-radius: 8px;
  margin-right: 135px;
}

.BGRegistration .rightBG .boxReq p.subHeadTitle24px, .BGRegistration .rightBG .boxReq .modalCustomStyle .modal-dialog p.modal-title, .modalCustomStyle .modal-dialog .BGRegistration .rightBG .boxReq p.modal-title {
  font-family: "DINRegular";
  margin-bottom: 32px;
}

.BGRegistration .rightBG .boxReq .subParagraph14px, .BGRegistration .rightBG .boxReq .leftBG .loginSide .fromClass .forgetPass, .BGRegistration .leftBG .loginSide .fromClass .rightBG .boxReq .forgetPass {
  margin: 14px 0 13px;
}

.BGRegistration .rightBG .boxReq hr {
  border-top: 3px solid #f2f2f2;
  margin: 24px 0;
}

.BGRegistration .rightBG .boxReq .mainBtn {
  margin-top: 33px;
}

.BGRegistration .rightBG .visionLogo {
  margin: 28px 0 31px;
  text-align: center;
}

.BGRegistration .rightBG .visionLogo img {
  max-width: 265px;
  max-height: 50px;
}

.temporaryAccount {
  background-color: #007066;
  position: relative;
}

.temporaryAccount::before {
  position: absolute;
  content: "";
  width: 340px;
  height: 400px;
  bottom: 0;
  background-image: url("../images/tempAccountBG.png");
}

.temporaryAccount .formCard {
  background-color: #fff;
  width: 586px;
  margin: 0 auto;
  margin-top: 44px;
  border-radius: 8px;
  -webkit-box-shadow: 0 4px 10px rgba(0, 0, 0, 0.15);
          box-shadow: 0 4px 10px rgba(0, 0, 0, 0.15);
  padding: 24px 30px 48px;
}

.temporaryAccount .formCard .validMatch + i {
  color: #012D29;
}

.temporaryAccount .formCard .goBack {
  font-size: 14px;
  color: #012D29;
}

.temporaryAccount .formCard .goBack span {
  padding-right: 3px;
}

.temporaryAccount .formCard .headTitle35px {
  margin-bottom: 24px;
  text-align: center;
}

.temporaryAccount .formCard .label {
  font-size: 18px;
}

.temporaryAccount .formCard .inputStyle {
  background-color: #f6f6f6;
}

.temporaryAccount .formCard .inputStyle::-webkit-input-placeholder {
  font-size: 16px;
  color: #bbbbbb;
}

.temporaryAccount .formCard .inputStyle:-ms-input-placeholder {
  font-size: 16px;
  color: #bbbbbb;
}

.temporaryAccount .formCard .inputStyle::-ms-input-placeholder {
  font-size: 16px;
  color: #bbbbbb;
}

.temporaryAccount .formCard .inputStyle::placeholder {
  font-size: 16px;
  color: #bbbbbb;
}

.temporaryAccount .formCard .subParagraph14px, .temporaryAccount .formCard .BGRegistration .leftBG .loginSide .fromClass .forgetPass, .BGRegistration .leftBG .loginSide .fromClass .temporaryAccount .formCard .forgetPass {
  margin-bottom: 28px;
}

.temporaryAccount .formCard .captionSec {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.temporaryAccount .visionLogo {
  text-align: center;
  padding: 36px 0 31px;
}

.temporaryAccount .InputGroupPass {
  position: relative;
}

.temporaryAccount .InputGroupPass i {
  position: absolute;
  top: 53px;
  color: #bbbbbb;
  font-size: 24px;
  left: 24px;
}

.temporaryAccountNewXD {
  background-color: unset;
}

.temporaryAccountNewXD::before {
  content: unset;
}

.investigationLayout {
  max-width: 1082px;
  margin: 0 auto;
  padding: 28px 0 0;
  min-height: calc(100vh - 264px);
}

.investigationLayout .col-md-12 .headTitle35px {
  color: #007066;
  text-align: center;
  margin-bottom: 24px;
}

.investigationLayout .greenBox {
  height: 128px;
  background-color: #007066;
  border-radius: 8px;
  padding: 25px;
  margin-bottom: 24px;
}

.investigationLayout .greenBox .Gbox {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 100%;
}

.investigationLayout .greenBox .Gbox img {
  max-width: 80px;
  max-height: 80px;
}

.investigationLayout .greenBox .Gbox .Gtext {
  padding-right: 42px;
}

.investigationLayout .greenBox .Gbox .Gtext p:first-of-type {
  font-size: 18px;
  color: #CCA079;
  margin-bottom: 12px;
}

.investigationLayout .greenBox .Gbox .Gtext p:last-of-type {
  margin-bottom: 0;
  color: #fff;
  font-size: 14px;
}

.investigationLayout .stepsSection {
  background-color: #fff;
  border-radius: 8px;
  height: 97px;
  padding: 25px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-bottom: 27px;
}

.investigationLayout .stepsSection a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  pointer-events: none;
  text-decoration: none;
}

.investigationLayout .stepsSection a strong {
  width: 55px;
  height: 55px;
  background-color: rgba(187, 187, 187, 0.3);
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  border-radius: 50%;
  position: relative;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  z-index: 1;
}

.investigationLayout .stepsSection a strong img {
  max-width: 100%;
}

.investigationLayout .stepsSection a span {
  font-size: 18px;
  color: #bbbbbb;
  padding-right: 7px;
}

.investigationLayout .stepsSection a.activeStep strong {
  background-color: rgba(0, 112, 102, 0.15);
}

.investigationLayout .stepsSection a.activeStep strong img {
  -webkit-filter: invert(142%) sepia(31%) saturate(1524%) hue-rotate(130deg) brightness(101%) contrast(101%);
          filter: invert(142%) sepia(31%) saturate(1524%) hue-rotate(130deg) brightness(101%) contrast(101%);
}

.investigationLayout .stepsSection a.activeStep span {
  color: #007066;
}

.investigationLayout .stepsSection a.completedStep {
  pointer-events: unset;
  text-decoration: unset;
}

.investigationLayout .stepsSection a.completedStep strong {
  background-color: rgba(204, 160, 121, 0.2);
}

.investigationLayout .stepsSection a.completedStep strong img {
  -webkit-filter: invert(18%) sepia(51%) saturate(278%) hue-rotate(347deg) brightness(88%) contrast(86%);
          filter: invert(18%) sepia(51%) saturate(278%) hue-rotate(347deg) brightness(88%) contrast(86%);
}

.investigationLayout .stepsSection a.completedStep span {
  color: #cca079;
}

.investigationLayout .stepsSection.nav-pills {
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
}

.investigationLayout .stepsSection.nav-pills li a {
  pointer-events: unset;
  padding: 0;
}

.investigationLayout .stepsSection.nav-pills li a.active {
  background-color: unset;
}

.investigationLayout .stepsSection.nav-pills li a.active strong {
  background-color: rgba(0, 112, 102, 0.15);
}

.investigationLayout .stepsSection.nav-pills li a.active strong img {
  -webkit-filter: invert(142%) sepia(31%) saturate(1524%) hue-rotate(130deg) brightness(101%) contrast(101%);
          filter: invert(142%) sepia(31%) saturate(1524%) hue-rotate(130deg) brightness(101%) contrast(101%);
}

.investigationLayout .stepsSection.nav-pills li a.active span {
  color: #007066;
}

.investigationLayout .cardInputs {
  margin-bottom: 32px;
}

.investigationLayout .cardInputs .row {
  margin-right: 0;
  margin-left: 0;
}

.investigationLayout .cardInputs .col-md-4,
.investigationLayout .cardInputs .col-md-6,
.investigationLayout .cardInputs .col-md-12 {
  padding-right: 6px;
  padding-left: 6px;
}

.investigationLayout .cardInputs .cardTitle22px {
  background-color: rgba(255, 255, 255, 0.5);
  height: 55px;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 14px;
  border-radius: 8px 8px 0px 0px;
}

.investigationLayout .cardInputs .boxInputs {
  background-color: #fff;
  border-radius: 8px 0px 0px 8px;
  padding: 24px;
}

.investigationLayout .cardInputs .boxInputs .inputStyle {
  background: #f6f6f6;
}

.investigationLayout .cardInputs .boxInputs .label span {
  color: #CCA079;
}

.investigationLayout .cardInputs .boxInputs .customRadio {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin-bottom: 24px;
}

.investigationLayout .cardInputs .boxInputs .customRadio p {
  padding-left: 48px;
}

.investigationLayout .cardInputs .boxInputs .customRadio p.label {
  width: 100%;
  margin-bottom: 12px;
  padding-left: 0px;
}

.investigationLayout .cardInputs .boxInputs .Inputdate input[type="date"]::-webkit-calendar-picker-indicator {
  background-image: url(../images/calendar-outline.svg);
  width: 20px;
  height: 22px;
  margin-left: 0px;
  margin-top: 9px;
}

.investigationLayout .cardInputs .boxInputs .Inputdate .inputStyle {
  text-align: right;
  color: #ddd;
}

.cardInputs .customRadio [type="radio"]:checked + label {
  height: 40px;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 11px 15px 11px 11px;
  border-radius: 8px;
  background-color: #cca07947;
}

.cardInputs .customRadio [type="radio"]:checked + label:before {
  -webkit-transform: scale(0.6);
          transform: scale(0.6);
}

.cardInputs .customRadio [type="radio"]:checked + label:after {
  -webkit-transform: scale(0.6);
          transform: scale(0.6);
}

.cardInputs .customRadio [type="radio"]:not(:checked) + label {
  height: 40px;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 11px 15px 11px 11px;
  border-radius: 8px;
  background-color: #bbbbbb4a;
}

.cardInputs .customRadio [type="radio"]:not(:checked) + label:before {
  -webkit-transform: scale(0.6);
          transform: scale(0.6);
}

.cardInputs .customRadio [type="radio"]:not(:checked) + label:after {
  -webkit-transform: scale(0.6);
          transform: scale(0.6);
}

.filesUpload .cardLabel18px, .filesUpload .investigationLayout .cardInputs .boxInputs .label, .investigationLayout .cardInputs .boxInputs .filesUpload .label, .filesUpload .hintLast {
  color: #ddd;
  margin-bottom: 0px;
}

.filesUpload .downloadA {
  margin-top: 8px;
  display: inline-block;
}

.filesUpload .downloadA span {
  font-size: 16px;
  color: #0071E2;
  margin-right: 5px;
}

.filesUpload .label {
  margin-top: 22px;
}

.filesUpload .hint {
  font-size: 16px;
  color: #ddd;
}

.filesUpload .hintLast {
  color: #012D29;
  text-align: center;
}

.submtBtns {
  margin-bottom: 128px;
}

.submtBtns .errorMes {
  font-size: 18px;
  color: #D5313A;
  margin-bottom: 32px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.submtBtns .errorMes span {
  padding-right: 10px;
}

.submtBtns .saveInfo {
  margin: 0 auto;
  min-width: 288px;
  background-color: #007066;
}

.submtBtns .mainBtn i {
  padding: 0 5px;
  margin-top: 6px;
}

.submtBtns .mainBtn.disableBtn {
  background-color: #ddd;
  pointer-events: none;
  cursor: default;
  text-decoration: none;
}

.submtBtns .col-md-3:last-of-type {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: end;
}

.affiliatedCompanies .addCompany {
  text-align: center;
}

.affiliatedCompanies .addCompany .addIcon {
  padding: 15px 0 22px;
}

.affiliatedCompanies .addCompany .addText .subHeadTitle24px, .affiliatedCompanies .addCompany .addText .modalCustomStyle .modal-dialog .modal-title, .modalCustomStyle .modal-dialog .affiliatedCompanies .addCompany .addText .modal-title {
  color: #000;
  margin-bottom: 14px;
}

.affiliatedCompanies .addCompany .addText .label {
  color: #BBBBBB;
  font-size: 14px;
  margin-bottom: 28px;
}

.actionBtns {
  text-align: left;
}

.actionBtns a, .actionBtns button {
  min-width: 110px;
  height: 47px;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  border-radius: 8px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 12px 16px;
  margin-right: 24px;
}

.actionBtns a span, .actionBtns button span {
  font-size: 18px;
  margin-top: -4px;
}

.actionBtns a.addCompBtn, .actionBtns button.addCompBtn {
  background-color: rgba(0, 112, 102, 0.2);
}

.actionBtns a.addCompBtn span, .actionBtns button.addCompBtn span {
  color: #007066;
  padding: 0 9px;
}

.actionBtns a.sendBtn, .actionBtns button.sendBtn {
  background-color: rgba(204, 160, 121, 0.2);
}

.actionBtns a.sendBtn span, .actionBtns button.sendBtn span {
  color: #cca079;
  padding-right: 9px;
}

.actionBtns a.closeBtn, .actionBtns button.closeBtn {
  background-color: rgba(213, 49, 58, 0.2);
}

.actionBtns a.closeBtn span, .actionBtns button.closeBtn span {
  color: #d5313a;
  padding-right: 9px;
}

.modalCustomStyle .modal-dialog {
  max-width: 1094px;
  direction: ltr;
}

.modalCustomStyle .modal-dialog .modal-title {
  width: 100%;
  color: #007066;
  text-align: center;
  padding-left: 50px;
}

.modalCustomStyle .modal-dialog .modal-body {
  padding: 0;
}

.modalCustomStyle .modal-dialog .modal-body .investigationLayout {
  max-width: 1035px;
}

.modalCustomStyle .modal-dialog .cardInputs {
  direction: rtl;
  margin-bottom: 0;
}

.modalCustomStyle .modal-dialog .cardInputs .boxInputs {
  padding: 0 24px;
}

.modalCustomStyle .modal-dialog .cardInputs .submtBtns {
  margin: 50px 0 47px;
}

.modalCustomStyle .modal-dialog .cardInputs .submtBtns .mainBtn img {
  padding-right: 8px;
  -webkit-filter: brightness(0) invert(1);
          filter: brightness(0) invert(1);
}

.EditDelete .table {
  margin-bottom: 27px;
}

.EditDelete .table tbody th {
  border-top: 0px solid #dee2e6;
}

.EditDelete .table tbody td {
  border-top: 0px solid #dee2e6;
}

.EditDelete .table tbody td:first-of-type {
  width: 80%;
  text-align: right;
}

.EditDelete .table tbody td .Delete,
.EditDelete .table tbody td .Edit {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: end;
}

.EditDelete .table tbody td .Delete span,
.EditDelete .table tbody td .Edit span {
  font-size: 18px;
  padding-right: 6px;
}

.EditDelete .table tbody td .Edit span {
  color: #CCA079;
}

.EditDelete .table tbody td .Delete span {
  color: #D5313A;
}

.EditDelete .table tbody tr:nth-of-type(odd) {
  background-color: #F8F8F8;
}

.EditDelete .actionBtns {
  text-align: right;
}

.modal-header {
  border: unset;
}

.deleteModel .modal-dialog {
  max-width: 804px;
  text-align: center;
  top: 50% !important;
  -webkit-transform: translate(0, -60%) !important;
          transform: translate(0, -60%) !important;
}

.deleteModel .modal-dialog .modal-header {
  border: unset;
  padding: 17px 20px 0px 24px;
}

.deleteModel .modal-dialog .modal-body {
  padding-top: 0;
}

.deleteModel .modal-dialog .modal-body .iconDle img {
  width: 132px;
  height: 132px;
  -o-object-fit: fill;
     object-fit: fill;
  margin-bottom: 18px;
}

.deleteModel .modal-dialog .modal-body .textDeL h3 {
  margin-bottom: 16px;
  color: #000;
  font-size: 24px;
}

.deleteModel .modal-dialog .modal-body .textDeL p {
  margin-bottom: 0;
  color: #BBBBBB;
  font-size: 18px;
}

.deleteModel .modal-dialog .modal-body .actionDel {
  padding: 28px 0 25px;
}

.deleteModel .modal-dialog .modal-body .actionDel a {
  height: 35px;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  min-width: 78px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  line-height: 30px;
  border-radius: 50px;
  color: #fff;
  padding: 0px 21px;
}

.deleteModel .modal-dialog .modal-body .actionDel a.deleteAction {
  background-color: #d5313a;
  margin-left: 46px;
}

.deleteModel .modal-dialog .modal-body .actionDel a.closeDel {
  background-color: #CCA079;
}

.modal-body,
.EditDataLayout {
  margin-bottom: 49px;
  background-color: #fff;
}

.modal-body > .cardTitle22px,
.EditDataLayout > .cardTitle22px {
  font-size: 24px;
  font-weight: bold;
  padding: 27px 25px 0px 25px;
  text-align: center;
}

.modal-body h1.cardTitle22px,
.EditDataLayout h1.cardTitle22px {
  font-size: 24px;
  font-weight: bold;
  padding: 27px 25px 0px 25px;
  text-align: center;
}

.modal-body .cardInputs,
.EditDataLayout .cardInputs {
  margin-bottom: 0;
}

.modal-body .submtBtns,
.EditDataLayout .submtBtns {
  margin: 50px 0 12px 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.modal-body .submtBtns .saveEdit,
.EditDataLayout .submtBtns .saveEdit {
  background-color: #007066;
  width: 200px;
}

.modal-body .submtBtns .saveEdit span,
.EditDataLayout .submtBtns .saveEdit span {
  padding: 0 4px;
}

.modal-body .submtBtns .CloseIt,
.EditDataLayout .submtBtns .CloseIt {
  background-color: #012D29;
  width: 152px;
}

.listItem, .menuListSide > li > a {
  background-color: rgba(117, 117, 117, 0.05);
  border-radius: 8px;
  height: 51px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.menuListSide {
  min-height: 976px;
  background-color: #F8F8F8;
  margin: 0;
  padding: 48px 23px;
  list-style: none;
}

.menuListSide > li > a {
  margin-bottom: 12px;
  padding: 0 26px;
  position: relative;
}

.menuListSide > li > a img {
  padding-left: 8px;
  max-width: 35px;
}

.menuListSide > li > a span {
  color: #757575;
  font-size: 20px;
  margin-top: -4px;
}

.menuListSide > li > a.openLI::after {
  position: absolute;
  font-family: "Font Awesome 5 Free";
  font-weight: 900;
  content: "\f078";
  width: 20px;
  height: 20px;
  left: 13px;
  font-size: 15px;
  color: #757575;
}

.menuListSide > li > a.opend {
  background-color: rgba(204, 160, 121, 0.09);
}

.menuListSide > li > a.opend::after,
.menuListSide > li > a.opend span {
  color: #CCA079;
}

.menuListSide > li > a.opend::after {
  content: "\f077";
}

.menuListSide > li > a.opend img {
  -webkit-filter: invert(163%) sepia(90%) saturate(278%) hue-rotate(347deg) brightness(88%) contrast(86%);
          filter: invert(163%) sepia(90%) saturate(278%) hue-rotate(347deg) brightness(88%) contrast(86%);
}

.menuListSide ul {
  list-style: none;
  padding: 0;
  -webkit-transform: translateY(-11px);
          transform: translateY(-11px);
}

.menuListSide ul li a {
  height: 48px;
  background: #EEEEEE;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 0 26px;
  color: #BBBBBB;
  margin-bottom: 2px;
}

.layoutLargSide {
  min-height: 850px;
}

.layoutLargSide > .tableCardSystem:first-child {
  margin-top: 45px;
}

.layoutLargSide.layoutableXDV2 {
  max-width: 1360px;
  margin: 0 auto;
}

.layoutLargSide .tableCardSystem {
  border-radius: 8px;
  background-color: #fff;
  padding: 24px 12px 24px 24px;
  margin-bottom: 27px;
}

.layoutLargSide .tableCardSystem .headingTB {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-bottom: 13px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.layoutLargSide .tableCardSystem .headingTB h1 {
  color: #007066;
}

.layoutLargSide .tableCardSystem .headingTB a {
  min-width: 83px;
}

.layoutLargSide .progressCheckingNum .checkingTempNum {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding-top: 20px;
}

.layoutLargSide .progressCheckingNum .checkingTempNum .subHeadTitle24px, .layoutLargSide .progressCheckingNum .checkingTempNum .modalCustomStyle .modal-dialog .modal-title, .modalCustomStyle .modal-dialog .layoutLargSide .progressCheckingNum .checkingTempNum .modal-title {
  color: #007066;
}

.layoutLargSide .progressCheckingNum .checkingTempNum .tempMun span {
  font-size: 12px;
  font-weight: bold;
  color: #007066;
}

.layoutLargSide .progressCheckingNum .checkingTempNum .tempMun span:last-of-type {
  background-color: #fff;
  padding: 3px 8px;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  border-radius: 4px;
  margin-right: 14px;
}

.layoutLargSide .TabParent {
  border: unset;
  padding: 0;
  background-color: #ebe4dd85;
  border-radius: 50px;
  width: -webkit-max-content;
  width: -moz-max-content;
  width: max-content;
  margin: 0 auto;
  margin-bottom: 24px;
  -webkit-box-shadow: 0 2px 3px rgba(0, 0, 0, 0.05);
          box-shadow: 0 2px 3px rgba(0, 0, 0, 0.05);
}

.layoutLargSide .TabParent li {
  padding-right: 24px;
}

.layoutLargSide .TabParent li:first-of-type {
  padding-right: 0px;
}

.layoutLargSide .TabParent li a {
  font-size: 20px;
  font-weight: 500;
  color: #CCA079;
  background: transparent;
  padding: 16px 26px;
  border-radius: 50px;
  display: inline-block;
}

.layoutLargSide .TabParent li a.active {
  color: #CCA079;
  background: #fff;
}

.layoutLargSide .tabsParentSection {
  margin-bottom: 141px;
}

.layoutLargSide .tabParentFromChild {
  border: unset;
  padding: 0;
  margin-bottom: 24px;
  margin-top: 23px;
}

.layoutLargSide .tabParentFromChild li {
  padding-right: 30px;
}

.layoutLargSide .tabParentFromChild li:first-of-type {
  padding-right: 0px;
}

.layoutLargSide .tabParentFromChild li a {
  font-size: 20px;
  font-weight: 500;
  color: #007066;
  background-color: #fff;
  padding: 23px;
  min-width: 247px;
  display: inline-block;
  border-radius: 8px;
  -webkit-box-shadow: 0 2px 3px rgba(0, 0, 0, 0.05);
          box-shadow: 0 2px 3px rgba(0, 0, 0, 0.05);
}

.layoutLargSide .tabParentFromChild li a img {
  max-width: 30px;
}

.layoutLargSide .tabParentFromChild li a.active {
  color: #007066;
  background-color: rgba(0, 112, 102, 0.2);
}

.layoutLargSide .tabParentFromChild li a.active img {
  -webkit-filter: invert(6%) sepia(31%) saturate(1524%) hue-rotate(130deg) brightness(60%) contrast(101%);
          filter: invert(6%) sepia(31%) saturate(1524%) hue-rotate(130deg) brightness(60%) contrast(101%);
}

.layoutLargSide .tabLastChild {
  border: unset;
  padding: 0;
}

.layoutLargSide .tabLastChild a {
  border-radius: 0;
}

.layoutLargSide .tabLastChild + .tab-content .cardInTab {
  border-radius: 5px 0 5px 5px;
}

.layoutLargSide .tabLastChild li:first-of-type a {
  border-radius: 0px 8px 0px 0px;
}

.layoutLargSide .tabLastChild li:last-of-type a {
  border-radius: 8px 0px 0px 0px;
}

.layoutLargSide .tabLastChild li a {
  font-size: 18px;
  font-weight: 500;
  color: #BBBBBB;
  background-color: rgba(187, 187, 187, 0.1);
  padding: 11px 25px;
  display: inline-block;
}

.layoutLargSide .tabLastChild li a.active {
  color: #fff;
  background: #CCA079;
}

.layoutLargSide .cardInTab {
  background-color: #fff;
  padding: 27px 24px 13px 135px;
  -webkit-box-shadow: 0 3px 3px rgba(0, 0, 0, 0.05);
          box-shadow: 0 3px 3px rgba(0, 0, 0, 0.05);
  border-radius: 5px;
}

.layoutLargSide .cardInTab .subHeadTitle24px, .layoutLargSide .cardInTab .modalCustomStyle .modal-dialog .modal-title, .modalCustomStyle .modal-dialog .layoutLargSide .cardInTab .modal-title {
  margin-bottom: 27px;
  color: #007066;
}

.layoutLargSide .cardInTab .actionBtns {
  text-align: left;
  margin: 7px 0 20px;
}

.layoutLargSide .cardInTab .actionBtns a span {
  padding: 0 9px 0 0px;
}

.layoutLargSide .cardInTab .actionBtns a:last-of-type {
  margin-left: 0px;
}

.tableCardSystem .table td, .table th {
  border: 0 solid #dee2e6;
}

.tableCardSystem .table thead th {
  border: 0 solid #dee2e6;
  color: #CCA079;
  font-size: 20px;
}

.tableCardSystem .table thead th:first-of-type {
  width: 35px;
}

.tableCardSystem .table tbody td,
.tableCardSystem .table tbody th {
  font-size: 18px;
  color: #8F8F8F;
  font-weight: 500;
}

.tableCardSystem .table tbody td .viewB span {
  color: #007066;
  padding-right: 6px;
}

.tableCardSystem .table tbody tr td:last-of-type {
  min-width: 120px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.tableCardSystem .table-striped tbody tr:nth-of-type(even) {
  background-color: #F8F8F8;
}

.tableCardSystem .table-striped tbody tr:nth-of-type(odd) {
  background-color: #fff;
}

.tableCardSystem .table-striped tbody tr:hover {
  background-color: rgba(204, 160, 121, 0.1);
}

.requestPop .boxReq {
  padding: 0 90px;
}

.requestPop .boxReq .subHeadTitle24px, .requestPop .boxReq .modalCustomStyle .modal-dialog .modal-title, .modalCustomStyle .modal-dialog .requestPop .boxReq .modal-title,
.requestPop .boxReq .headTitle35px {
  margin-bottom: 13px;
}

.requestPop .boxReq .customRadio label {
  margin-bottom: 12px;
}

.requestPop .boxReq .subHead {
  text-align: center;
  margin-bottom: 35px;
  font-size: 24px;
  color: #707070;
  line-height: 1.8;
}

.requestPop .boxReq hr {
  margin: 24px 0;
  border-top: 3px solid #F2F2F2;
}

.requestPop .boxReq .mainBtn {
  margin: 30px auto 47px;
}

.classForPadiingAndHeight {
  min-height: 850px;
}

.classForPadiingAndHeight.affiliatedCompanies {
  padding-top: 170px;
}

.loader .loader-inner img {
  -webkit-box-shadow: rgba(0, 0, 0, 0.15);
          box-shadow: rgba(0, 0, 0, 0.15);
  border-radius: 5px;
}

.changedColor {
  background-color: #012d29 !important;
}

.progressSection {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 15px 0 24px;
}

.progressSection span {
  font-size: 18px;
  color: #CCA079;
  font-weight: bold;
}

.progressSection .progress {
  width: 95%;
  height: 4px;
  margin-top: 5px;
  background-color: rgba(204, 160, 121, 0.4);
}

.progressSection .progress .progress-bar {
  background-color: #cca079;
}

.menuSystem {
  min-height: 976px;
  background-color: #F8F8F8;
  margin: 0;
}

.menuSystem .backAndTitle {
  padding: 20px 23px 10px 23px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.menuSystem .backAndTitle a {
  -ms-flex-negative: 0;
      flex-shrink: 0;
}

.menuSystem .backAndTitle p {
  background-color: rgba(204, 160, 121, 0.2);
  margin: 0;
  font-size: 20px;
  font-weight: 500;
  color: #CCA079;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  padding: 12px 24px;
  margin-right: 13px;
  border-radius: 8px;
  width: 100%;
}

.menuSystem .backAndTitle p span {
  margin-right: 8px;
}

.menuSystem .menuActions {
  margin: 0;
  padding: 0px 23px 50px 23px;
  list-style: none;
}

.menuSystem .menuActions .progressSection {
  padding: 9px 0 0;
}

.menuSystem .menuActions .progressSection .progress {
  width: 85%;
  height: 3px;
}

.menuSystem .menuActions li a {
  width: 100%;
  padding: 7px 24px 11px 24px;
  background: #007066;
  border-radius: 4px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 12px;
}

.menuSystem .menuActions li a img {
  max-width: 20px;
  padding-top: 5px;
}

.menuSystem .menuActions li a span {
  font-size: 18px;
  color: #fff;
  padding-right: 12px;
}

.menuSystem .menuActions li.DoneAction a {
  background-color: rgba(0, 112, 102, 0.2);
  pointer-events: none;
  text-decoration: none;
}

.menuSystem .menuActions li.DoneAction a img {
  -webkit-filter: invert(69%) sepia(31%) saturate(1524%) hue-rotate(130deg) brightness(69%) contrast(101%);
          filter: invert(69%) sepia(31%) saturate(1524%) hue-rotate(130deg) brightness(69%) contrast(101%);
}

.menuSystem .menuActions li.DoneAction a span {
  color: #007066;
}

.menuSystem .menuActions li.CloseAction a {
  background-color: #BBBBBB;
  pointer-events: none;
  text-decoration: none;
}

.menuSystem .menuActions li.CloseAction .progressSection span {
  color: #BBBBBB;
}

.menuSystem .menuActions li.CloseAction .progressSection .progress {
  background-color: #BBBBBB;
}

.menuSystem .menuActions li.CloseAction .progressSection .progress .progress-bar {
  background-color: #BBBBBB;
}

.backBtn {
  width: 57px;
  height: 52px;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  background: #A1A1A1;
  border-radius: 8px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.boxView {
  background-color: #fff;
  border-radius: 8px 0px 8px 8px;
  padding: 24px;
}

.boxView .cardUl {
  margin-bottom: 0;
}

.boxView .cardUl li:last-of-type {
  margin-bottom: 0;
}

.boxView .customRadio {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 24px;
}

.boxView .customRadio form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.boxView .customRadio p:first-of-type {
  margin-left: 24px;
}

.boxView .customRadio [type="radio"]:checked + label {
  background-color: rgba(0, 112, 102, 0.2);
  color: #007066;
}

.boxView .customRadio [type="radio"]:checked + label:before {
  border: 1px solid #007066;
}

.boxView .customRadio [type="radio"]:checked + label:after {
  background: #007066;
}

.boxView .customRadio [type="radio"]:not(:checked) + label:after {
  background: #007066;
}

.boxView .filePoundClass {
  cursor: pointer;
}

.boxView .filePoundClass .filepond--drop-label {
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  padding-right: 24px;
}

.boxView .inputStyle {
  background-color: #f1f0ef;
  margin-bottom: 0px;
}

.boxView .InputGroup {
  margin-bottom: 24px;
}

.boxView select {
  margin-bottom: 0px;
}

.boxView .radioGroup form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.boxView .radioGroup form p:first-of-type {
  padding-left: 24px;
}

.boxView .checkboxGroup {
  margin-bottom: 9px;
}

.boxView .checkboxGroup form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.boxView .checkboxGroup form .form-radio-group {
  padding-left: 24px;
}

.actionCard {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.actionCard a {
  width: 44px;
  height: 44px;
  border-radius: 8px;
  -webkit-box-shadow: 0 0px 5px rgba(0, 0, 0, 0.05);
          box-shadow: 0 0px 5px rgba(0, 0, 0, 0.05);
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-right: 12px;
}

.actionCard .downloadBT {
  background-color: rgba(0, 113, 226, 0.2);
}

.actionCard .viewBT {
  background-color: rgba(0, 112, 102, 0.2);
}

.accordion .cardTitle22px {
  margin-bottom: 28px;
}

.accordion .card {
  border: unset;
  margin-bottom: 30px;
  border-radius: 8px !important;
}

.accordion .card .card-header {
  border: unset;
  background-color: #fff;
  padding: 21px 24px;
}

.accordion .card .card-header button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 0;
  border-bottom: 2px solid #bbbbbb6b;
  padding-bottom: 17px;
}

.accordion .card .card-header button:hover, .accordion .card .card-header button:focus {
  -webkit-box-shadow: unset;
          box-shadow: unset;
  text-decoration: unset;
}

.accordion .card .card-header button span {
  font-size: 24px;
  color: #CCA079;
  font-weight: 500;
}

.accordion .card .card-header button img {
  -webkit-filter: invert(78%) sepia(18%) saturate(766%) hue-rotate(344deg) brightness(84%) contrast(89%);
          filter: invert(78%) sepia(18%) saturate(766%) hue-rotate(344deg) brightness(84%) contrast(89%);
  -webkit-transition: .4s;
  transition: .4s;
  -webkit-transform: rotate(47deg);
          transform: rotate(47deg);
}

.accordion .card .card-header button.collapsed {
  border-bottom: 0px solid #bbbbbb6b;
  padding-bottom: 0px;
}

.accordion .card .card-header button.collapsed span {
  color: #000000;
}

.accordion .card .card-header button.collapsed img {
  -webkit-filter: unset;
          filter: unset;
  -webkit-transform: rotate(0deg);
          transform: rotate(0deg);
}

.accordion .card-body {
  padding-top: 0px;
  padding-bottom: 0px;
  margin-top: -10px;
}

.accordion .card-body .cardInputs {
  margin-bottom: 24px;
}

.accordion .card-body .cardInputs .cardTitle22px {
  padding: 0px 14px;
  margin-bottom: 24px;
  font-weight: bold;
}

.accordion .card-body .cardInputs .boxView {
  padding: 0 24px;
}

.radioGroup {
  padding: 0px;
}

.form-radio-group {
  display: block;
  margin-bottom: 15px;
}

.form-radio-group input {
  padding: 0;
  height: initial;
  width: initial;
  margin-bottom: 0;
  display: none;
  cursor: pointer;
}

.form-radio-group label {
  position: relative;
  cursor: pointer;
  font-size: 16px;
  color: #BBBBBB;
  margin-bottom: 0;
}

.form-radio-group label:before {
  content: '';
  -webkit-appearance: none;
  background-color: transparent;
  border: 3px solid #BBBBBB;
  -webkit-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.05), inset 0px -15px 10px -12px rgba(0, 0, 0, 0.05);
          box-shadow: 0 1px 2px rgba(0, 0, 0, 0.05), inset 0px -15px 10px -12px rgba(0, 0, 0, 0.05);
  padding: 10px;
  display: inline-block;
  position: relative;
  vertical-align: middle;
  cursor: pointer;
  margin-left: 8px;
  border-radius: 4px;
}

.form-radio-group input + label:after {
  content: '';
  display: block;
  position: absolute;
  top: 6px;
  right: 9px;
  width: 6px;
  height: 14px;
  border: solid #BBBBBB;
  border-width: 0 3px 3px 0;
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
}

.form-radio-group input:checked + label {
  color: #CCA079;
}

.form-radio-group input:checked + label::before {
  background-color: #CCA079;
  border: 3px solid #CCA079;
}

.form-radio-group input:checked + label:after {
  border-color: #ffffff;
}

/* fixing and adding style */
textarea {
  min-height: 150px;
  resize: none;
}

.modalCustomStyle .customRadio label {
  font-size: 17px;
}

.ui-widget-header {
  border: 1px solid #f6f6f6;
  background: #f6f6f6;
}

.ui-state-default,
.ui-widget-content .ui-state-default,
.ui-widget-header .ui-state-default,
.ui-button,
html .ui-button.ui-state-disabled:hover,
html .ui-button.ui-state-disabled:active {
  text-align: center;
  background: #f6f6f6;
  color: #007066;
}

.ui-datepicker th span,
.ui-datepicker th {
  color: #007066;
}

.ui-state-highlight,
.ui-widget-content .ui-state-highlight,
.ui-widget-header .ui-state-highlight {
  border: 1px solid #f5ece4;
  background: #f5ece4;
  color: #c09772;
}

.ui-state-active,
.ui-widget-content .ui-state-active,
.ui-widget-header .ui-state-active,
a.ui-button:active,
.ui-button:active,
.ui-button.ui-state-active:hover {
  border: 1px solid #007066;
  background: #007066;
  font-weight: normal;
  color: #fff;
}

.ui-datepicker .ui-datepicker-title {
  color: #007066;
}

.filepond--file-info .filepond--file-info-main {
  font-size: 14px;
}

.filepond--file-action-button.filepond--action-remove-item svg {
  -webkit-transform: translateY(-1px);
  transform: translateY(-1px);
}

.filesUpload .cardLabel18px, .filesUpload .investigationLayout .cardInputs .boxInputs .label, .investigationLayout .cardInputs .boxInputs .filesUpload .label, .filesUpload .hintLast,
.filesUpload .hint {
  color: #a3a3a3;
}

.addCompany .addText + .actionBtns {
  text-align: center;
}

.addCompany .addText + .actionBtns a.addCompBtn {
  margin-right: 0px;
}

.actionBtns a.SkipBtn {
  background-color: rgba(204, 160, 121, 0.2);
}

.actionBtns a.SkipBtn * {
  color: #cca079;
}

.actionBtns a.SkipBtn span {
  padding-left: 9px;
}

.validation-summary-errors ul {
  list-style: none;
  margin: 0 auto;
  width: 50%;
  padding-top: 20px;
}

.validation-summary-errors ul li {
  position: relative;
  font-size: 18px;
  color: #D5313A;
  margin-bottom: 15px;
}

.validation-summary-errors ul li::before {
  content: '';
  position: absolute;
  right: -40px;
  top: 3px;
  width: 25px;
  height: 25px;
  background-image: url(../images/info-outline.svg);
  background-size: contain;
  background-repeat: no-repeat;
}

.navbarCustom li a.changeLang {
  color: #CCA079 !important;
  font-size: 14px;
}

.navbarCustom li a.changeLang img {
  padding-right: 10px;
}

.actionBtns .sendBtn {
  background-color: rgba(204, 160, 121, 0.2);
  min-width: 110px;
  height: 47px;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  border-radius: 8px;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  padding: 12px 16px;
  margin-right: 24px;
}

.actionBtns .sendBtn span {
  color: #007066;
  padding: 0 9px;
  font-size: 18px;
  margin-top: -4px;
}

.ui-datepicker-prev::after,
.ui-datepicker-next::after {
  position: absolute;
  width: 20px;
  height: 20px;
  z-index: 9999;
  top: 2px;
  right: 10px;
  font-family: "Font Awesome 5 Free";
  color: #007066;
  font-size: 20px;
  cursor: pointer;
}

.ui-datepicker-prev::after {
  content: '\f104';
}

.ui-datepicker-next::after {
  content: '\f105';
}

.ui-datepicker .ui-datepicker-next-hover,
.ui-datepicker .ui-datepicker-prev-hover {
  background: transparent !important;
  font-weight: 600 !important;
  border: unset !important;
}

.ui-datepicker .ui-datepicker-next-hover {
  right: 2px !important;
  top: 2px !important;
}

.ui-datepicker .ui-datepicker-prev-hover {
  left: 2px !important;
  top: 2px !important;
}

/* end and adding style */
@media (min-width: 1400px) {
  .inner-container {
    max-width: 1340px;
    padding-left: 0;
    padding-right: 0;
  }
}

@media (min-width: 1650px) {
  .inner-container {
    max-width: 1640px;
    margin: 0 auto;
  }
}

@media (min-width: 1400px) and (max-width: 1701px) {
  .inner-container-custom {
    margin-right: 0;
    max-width: 1440px;
  }
  .inner-container-custom > .row {
    margin-right: -15px;
    margin-left: 0;
  }
}

@media (min-width: 1700px) and (max-width: 2000px) {
  .inner-container-custom {
    margin-right: 0;
    max-width: 1750px;
  }
  .inner-container-custom > .row {
    margin-right: -15px;
    margin-left: 0;
  }
}

/* ----------- fixing global issue ----------- */
@media (min-device-width: 1401px) and (max-device-width: 1700px) {
  .navbarCustom li a {
    font-size: 13px;
  }
  .BGRegistration .leftBG {
    padding-right: 82px;
  }
}

@media (min-width: 1401px) and (max-width: 1700px) {
  .navbarCustom li.dropdown a.nav-link {
    width: 190px;
  }
  .navbarCustom .navbar-brand img {
    height: 65px;
    width: 250px;
  }
  .navbarCustom li a {
    font-size: 12px;
    padding-right: 10px !important;
  }
}

/* ----------- start mini labtop  ----------- */
@media (min-device-width: 1025px) and (max-device-width: 1400px) {
  .container {
    border: 1px solid green;
  }
  .inner-container-custom {
    margin-right: 0;
    max-width: 1240px;
  }
  .inner-container-custom > .row {
    margin-right: -30px;
    margin-left: 0;
  }
}

/* ----------- iPad ----------- */
/* ----------- end iPad ----------- */
/* ----------- mobile ----------- */
/* ----------- end mobile ----------- */
/* ----------- iPhone ----------- */
/* ----------- end iPhone ----------- */
/*# sourceMappingURL=styleRTL.css.map */